ASPNETCORE_ENVIRONMENT=Development
PORT=5000

# Database
DB_HOST=example-db-host
DB_PORT=5432
DB_NAME=example-db-name
DB_USER=example-db-user
DB_PASSWORD=example-db-password

ADMIN_EMAIL=exampleadminemail@gmail.com

# JWT
JWT_KEY=example-jwt-key
HF_API_KEY=example-hf-api-key
GROQ_API_KEY=example-groq-api-key
JWT_ISSUER=example-jwt-issuer
JWT_AUDIENCE=example-jwt-audience
ANIMALDETECT_API_KEY=example-animaldetect-api-key