# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
bin/
obj/
out/

# Rider
.idea/

# .NET Core
*.dll
*.exe
*.pdb
*.cache
*.log
*.vsix

# NuGet
*.nupkg
*.snupkg
packages/
# Если используешь PackageReference, можно убрать
# packages/

# Entity Framework
*.db
*.db-shm
*.db-wal
Migrations/

# Docker
docker-compose.override.yml
**/Dockerfile.*.local
**/docker-compose.override.yml
**/docker-compose.override.*.yml
**/docker-compose.*.override.yml
**/docker-compose.override*.yml

# Environment files
.env
.env.local
.env.*.local

# Rider / ReSharper
.idea/
*.sln.iml
*.DotSettings.user

# Logs
*.log
