.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

bin/
obj/
out/
testdocs/

requirements/
flutter_app/
android/
docs(not)/

.idea/

*.dll
*.exe
*.pdb
*.cache
*.log
*.vsix

*.nupkg
*.snupkg
packages/

*.db
*.db-shm
*.db-wal

docker-compose.override.yml
**/Dockerfile.*.local
**/docker-compose.override.yml
**/docker-compose.override.*.yml
**/docker-compose.*.override.yml
**/docker-compose.override*.yml

.env
.env.local
.env.*.local

.idea/
*.sln.iml
*.DotSettings.user

*.log